---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
interface Frontmatter {
  title: string;
  pubDate: string;
  description: string;
}
const metadata = {
  title: "Blog - Jack Morton",
  description: "Blog Page of Jack Morton's Site",
};

let blogs = await Astro.glob<Frontmatter>("./blog/*.mdx");
blogs = blogs.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<Layout {...metadata}>
  <section>
    <h1 class="text-4xl mb-6 dark:text-white">Blog</h1>
    <p class="dark:text-zinc-300 mb-6">I use this page to talk about projects & events I'm a part of.</p>
  </section>
  <section>
    <ul>
      {blogs.map((post) => <BlogCard title={post.frontmatter.title} description={post.frontmatter.description} pubDate={post.frontmatter.pubDate} url={post.url} />)}
    </ul>
  </section>
</Layout>
