---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact" description="Ways to contact me">
  <section class="grid place-items-center text-center overflow-hidden mt-9">
    <h1 class="my-8 text-5xl font-semibold">Contact Me</h1>
    <h2 class="text-2xl dark:text-zinc-300 mb-5">
      <a href="mailto:morton.jack@protonmail.com" class="hover:underline">morton.jack@protonmail.com</a>
    </h2>
    <h2 class="text-2xl dark:text-zinc-300 mb-5">
      <a href="https://www.linkedin.com/in/mortonjack/" class="hover:underline">LinkedIn: mortonjack</a>
    </h2>
    <a
      href="/"
      class="dark:bg-zinc-700 bg-zinc-200 rounded-xl p-3 text-black dark:text-white m-2 ring-2 ring-opacity-0 ring-blue-500 hover:ring-opacity-100"
      >Go back to homepage</a
    >
  </section>
</Layout>
